<div class="pusher">
    <div class="ui inverted vertical masthead black center aligned segment">
        <img src="/images/foodiebg.jpg" alt="homepagelayout">
            <div class="ui text container">
                <div class="ui huge brown button">Read more below</div>
            </div>
    </div>
</div>
<body class="home-bg">
    <div class="homecontainer">
        {{#each reviews as |review|}}
        <div class="homecard">
            <div>
                <img class="review-image" src="{{review.img}}" alt="Review Image">
            </div>
            <div>
                <h1 id="custom-revfont">{{review.title}}</h1>
                <h3>{{this.user.name}}</h3>
            </div>
            <div>
                <p>{{review.description}}</p>
            </div>
            <a href="/api/review/{{review.id}}">
                <button class="ui brown button" class="readReview">Read Review</button>
            </a>
        </div>
    {{/each}}
    </div>
</body>