<header>Goodie Foodie's Reviews</head>
<div class="homecontainer">
    {{#each reviews as |review|}}
    <div class="homecard">
        <div>
            <img class="review-image" src="{{review.img}}" alt="Review Image">
        </div>
        <div>
            <h1>{{review.title}}</h1>
            <h3>{{this.user.name}}</h3>
        </div>
        <div>
            <p>{{review.description}}</p>
        </div>
        <a href="/api/review/{{review.id}}">
            <button class="readReview">Read Review</button>
        </a>
    </div>
{{/each}}
</div>