<div class="review">
    {{#each review}}
    <article>
        <div >
            <h2>
                <a href="/review/{{id}}">{{title}}</a>
            </h2>
            <div>
                Posted by {{User.name}} on {{format_date createdAt}}
            </div>
        </div>
        <div>
            {{body}}
        </div>
    </article>
    {{/each}}
</div>