<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodie Foodie's Review</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="hero">
        <h1 class="app-title"><a href="/reviewboard">Review Board</a></h1>
    </header>
    <a href="/reviewboard/create"><button class="create-new-review">Create New Review</button>
    </a>
    
    <main>
        {{#each reviews as |review|}}
        <!--ADD IMAGE DISPLAY -->
            <div class="ui three column center aligned divided grid ">
                <div class="stretched row">
                    <div class="column">
                        <div class="ui segment">
                            <img class="reimage ui fluid image" src="{{review.img}}" alt="Review Image">
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment">
                            <p id="custom-reviewtitle">{{review.title}}</p>
                        </div>
                        <div class="ui segment">
                            <span id="custom-revdescname">Description:</span>
                            <p id="custom-reviewdescription">{{review.description}}</p>
                            <button class="ui inverted primary button" class="viewComment">View Comment</button>
                            <a href="/api/review/edit/{{review.id}}">
                                <button class="ui inverted green button" class="editReview">Edit Review</button>
                            </a>
                            <a href="/api/review/delete/{{review.id}}">
                                <button class="ui inverted red button" class="deleteReview">Delete Review</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
    </main>
</body>

<script src="/js/logout.js"></script>
</html>

