<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodie Foodie's Review</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="hero">
        <h1 class="app-title"><a href="/reviewboard">Your Review Board</a></h1>
    </header>
    <a href="/reviewboard/create"><button class="create-new-review">Create New Review</button>
    </a>
    
    <main>
        {{#each reviews as |review|}}
        <!--ADD IMAGE DISPLAY -->
        <div>
            <img class="reimage" src="{{review.img}}" alt="Review Image">
        </div>
            <div>
                <h1>{{review.title}}</h1>
            </div>
            <div>
                <p>{{review.description}}</p>
            </div>
          
        <a href="/api/review/edit/{{review.id}}">
            <button class="editReview">Edit Review</button>
        </a>  
        <a href="/api/review/delete/{{review.id}}">
            <button class="deleteReview">Delete Review</button>
        </a>
            {{/each}}
    </main>
    
</body>

<script src="/js/logout.js"></script>
</html>