<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodie Foodie's Review</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="hero">
        <h1 class="app-title">Review Board</h1>
    </header>
    <div id="newCreate">
        <a href="/reviewboard/create"><button class="positive ui button">Create New Review</button>
        </a>
    </div>
    
    <main>
        {{#each reviews as |review|}}
        <!--ADD IMAGE DISPLAY -->
            <div class="ui three column center aligned divided grid ">
                <div class="stretched row">
                    <div class="column">
                        <div class="ui segment">
                            <img class="reimage ui fluid image" src="{{review.img}}" alt="Review Image">
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment" id="custom-reviewtitleBG">
                            <p id="custom-reviewtitle">{{review.title}}</p>
                        </div>
                        <div class="ui segment">
                            <span id="custom-revdescname">Description:</span>
                            <p id="custom-reviewdescription">{{review.description}}</p>
                            <button class="ui inverted primary button" data-inverted="" data-tooltip="View everyone's comment on your post" data-position="bottom left">View Comment</button>
                            <a href="/api/review/edit/{{review.id}}">
                                <button class="ui inverted green button" data-inverted="" data-tooltip="Click here to make an edit" data-position="bottom left">Edit Review</button>
                            </a>
                            <a href="/api/review/delete/{{review.id}}">
                                <button class="ui inverted red button" data-inverted="" data-tooltip="This will permanently remove the review" data-position="bottom left">Delete Review</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
    </main>
</body>

<script src="/js/logout.js"></script>
</html>

