<link rel="stylesheet" href="/css/single-review.css">


<div class="ui animated button" tabindex="0">
    <a href="/reviewboard">
        <div class="visible content">Back</div>
        <div class="hidden content">
        <i class="left arrow icon"></i>
        </div>
    </a>
</div>


<article> <!-- Displays selected review using data from the database -->
    <form class="delete-review-form ui form">
    <div class="ui three column centered grid">
      <div class="stretched row">
        <div class="column">
          <div class="ui segment">
            <img class="reimage ui fluid image" src="{{review.img}}" alt="An assortment of food" />
            <h1>{{review.title}}</h1>
            <h2>Posted by {{review.user.name}}</h2>{{!-- on {{format_date post.createdAt}} --}}
            <p>{{review.description}}</p>
            </div>
            </div>
        </div>
    </form>
</article>

{{#if review.comments}} <!-- If there are comments on this review, display them below -->
    <section class="comment-section"> <!--ui three column centered grid -->
        <h4 class="ui horizontal divider">Comments</h4>
        {{#each review.comments as |comment|}} <!--Loop through all comments and display each and the user who wrote them-->
            <section class="ui center aligned three column grid">
                <div class="row">
                        <div class="ui vertical fluid menu">
                            <div class="header">
                              {{comment.user.name}}
                            </div>
                            <div class="description">
                                {{comment.body}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{/each}}
    </section>
{{/if}}

{{#if loggedIn}} <!--If the user is logged in, allow them to make their own comments-->
<section id="comment-form">
    <h4 class="ui horizontal divider">Leave a Comment</h4>
        <form  class="ui reply form">
            <input type="hidden" name="review-id" value={{review.id}} /> <!-- stores which review the comment refers to-->

            <div class="field">
                <textarea name="comment-body" class="form-input"></textarea>
            </div>
            <button id="new-comment-button" class="ui blue button">Comment</button>
        </form>
</section>
{{/if}}
<script src="/js/comment.js"></script>