<div>
    <article>
        <div>
            <h2>{{review.title}}</h2>
            <div>
                Posted by {{review.user.name}}
                 {{!-- on {{format_date post.createdAt}} --}}
            </div>
        </div>
        <div>
            {{review.description}}
        </div>
    </article>

    {{#if review.comments}}
    <section>
        <div>
            <h4>Comments</h4>
        </div>

        <div>
            {{#each review.comments as |comment|}}
            <div>
                <p>
                    {{comment.body}}
                </p>
                <p>
                    &mdash; {{comment.user.name}}
                    {{!-- , {{format_date createdAt}} --}}
                </p>
            </div>
            {{/each}}
        </div>
    </section>
    {{/if}}
    
{{#if loggedIn}}
<form id="new-comment-form" class="card">
    <div class="card-header">
        <h3>Add a New Comment</h3>
    </div>

    <div class="card-body">
        <input type="hidden" name="review-id" value={{review.id}} />

        <label class="form-label" for="comment-body">Comment</label>

        <textarea name="comment-body" class="form-input"></textarea>

        <button type="submit" class="btn">Submit</button>
    </div>
</form>
</div>
{{/if}}
<script src="/js/comment.js"></script>